<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionLogistica"
			 connectionString="Data Source=DESKTOP-E6N764R;Initial Catalog=GestionLogistica;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>