@{
    ViewBag.Title = "Menu Ventas";
}

<div class="sidebar-title">
    <i class="bi bi-cart"></i>
    Área de Ventas
</div>

<ul class="nav flex-column">

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Pedido")">
            <i class="bi bi-bag"></i>
            Gestionar Pedidos
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Cliente")">
            <i class="bi bi-people"></i>
            Gestionar Clientes
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Stock")">
            <i class="bi bi-box-seam"></i>
            Consultar Stock
        </a>
    </li>

</ul>