@{
    ViewBag.Title = "Menu Administrador";
}

<div class="sidebar-title">
    <i class="bi bi-shield-lock"></i>
    Administrador
</div>

<ul class="nav flex-column">

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Usuario")">
            <i class="bi bi-people-fill"></i>
            Administrar Usuarios y Roles
        </a>
    </li>

</ul>